/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_utility.scss */
.float-left {
  float: left;
}

/* line 5, /Users/heechenshan/Projects/site-checklist/src/scss/_utility.scss */
.float-right {
  float: right;
}

/* line 9, /Users/heechenshan/Projects/site-checklist/src/scss/_utility.scss */
.text--center {
  text-align: center;
}

/* line 13, /Users/heechenshan/Projects/site-checklist/src/scss/_utility.scss */
.text--left {
  text-align: left;
}

/* line 17, /Users/heechenshan/Projects/site-checklist/src/scss/_utility.scss */
.text--right {
  text-align: right;
}

/* line 21, /Users/heechenshan/Projects/site-checklist/src/scss/_utility.scss */
.clearfix {
  overflow: hidden;
  zoom: 1;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_base.scss */
html {
  font-size: 90%;
}

@media screen and (min-width: 768px) {
  /* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_base.scss */
  html {
    font-size: 95%;
  }
}

@media screen and (min-width: 1024px) {
  /* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_base.scss */
  html {
    font-size: 100%;
  }
}

/* line 13, /Users/heechenshan/Projects/site-checklist/src/scss/_base.scss */
body {
  font-size: 14px;
  font-size: 0.82353rem;
  background: #f4f4f4;
  color: #373737;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

/* line 22, /Users/heechenshan/Projects/site-checklist/src/scss/_base.scss */
a {
  background: transparent;
  color: #1e1e1e;
  text-decoration: none;
}

/* line 27, /Users/heechenshan/Projects/site-checklist/src/scss/_base.scss */
a:active, a:hover, a:focus {
  outline: 0;
}

/* line 34, /Users/heechenshan/Projects/site-checklist/src/scss/_base.scss */
ul li {
  list-style: none;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_headings.scss */
h1 {
  font-size: 45px;
  font-size: 2.64706rem;
  font-weight: 900;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_animation.scss */
.fade {
  transition: opacity .3s;
}

/* line 5, /Users/heechenshan/Projects/site-checklist/src/scss/_animation.scss */
.fade--in {
  opacity: 1;
}

/* line 9, /Users/heechenshan/Projects/site-checklist/src/scss/_animation.scss */
.fade--out {
  opacity: 0;
}

/* line 13, /Users/heechenshan/Projects/site-checklist/src/scss/_animation.scss */
.slide {
  transition: max-height .3s;
}

/* line 17, /Users/heechenshan/Projects/site-checklist/src/scss/_animation.scss */
.slide--in {
  max-height: 0;
}

/* line 21, /Users/heechenshan/Projects/site-checklist/src/scss/_animation.scss */
.slide--out {
  max-height: 350px;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/* line 5, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex--middle {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 10, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex--center {
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* line 15, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex__item--none {
  -webkit-flex: none;
      -ms-flex: none;
          flex: none;
}

/* line 19, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex__item--auto {
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
}

/* line 24, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex__item--1 {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* line 24, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex__item--2 {
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

/* line 24, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex__item--3 {
  -webkit-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

/* line 24, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex__item--4 {
  -webkit-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

/* line 24, /Users/heechenshan/Projects/site-checklist/src/scss/_flexbox.scss */
.flex__item--5 {
  -webkit-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_aside.scss */
aside {
  background: #373737;
  color: #f4f4f4;
  left: 0;
  min-height: 100vh;
  position: fixed;
  top: 0;
  width: 15%;
}

/* line 10, /Users/heechenshan/Projects/site-checklist/src/scss/_aside.scss */
aside a {
  font-size: 16px;
  font-size: 0.94118rem;
  color: rgba(244, 244, 244, 0.5);
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_article.scss */
article {
  padding: 20px 30px;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_forms.scss */
.form__text-input {
  font-size: 26px;
  font-size: 1.52941rem;
  min-width: 200px;
  padding: 10px 20px;
  width: 80%;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_buttons.scss */
.btn {
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 10px 20px;
}

/* line 8, /Users/heechenshan/Projects/site-checklist/src/scss/_buttons.scss */
.btn--primary {
  font-size: 20px;
  font-size: 1.17647rem;
  background: #c0b283;
  color: #f4f4f4;
  font-weight: bold;
}

/* line 15, /Users/heechenshan/Projects/site-checklist/src/scss/_buttons.scss */
.btn--secondary {
  font-size: 18px;
  font-size: 1.05882rem;
  background: #f4f4f4;
  color: #6a6a6a;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_nav.scss */
.nav {
  margin: 40px 0;
  padding-left: 15px;
}

/* line 6, /Users/heechenshan/Projects/site-checklist/src/scss/_nav.scss */
.nav__link {
  margin: 20px 0;
}

/* line 9, /Users/heechenshan/Projects/site-checklist/src/scss/_nav.scss */
.nav__link .fa {
  margin-right: 8px;
}

/* line 14, /Users/heechenshan/Projects/site-checklist/src/scss/_nav.scss */
.nav__link--active a {
  color: #f4f4f4;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/_error.scss */
.errors {
  color: #ff3333;
}

/* line 5, /Users/heechenshan/Projects/site-checklist/src/scss/_error.scss */
.errors ul {
  padding: 0;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_landing_page.scss */
.lp__container {
  background: #373737;
  color: #f4f4f4;
  min-height: 100vh;
  position: relative;
}

/* line 8, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_landing_page.scss */
.lp__content {
  left: 50%;
  margin-top: 10rem;
  position: absolute;
  top: 0;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 80%;
}

@-webkit-keyframes checkbox-anim {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}

@keyframes checkbox-anim {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}

/* line 18, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist {
  margin-left: 15%;
  width: 85%;
}

/* line 23, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__site-title {
  margin-bottom: 0;
  padding-right: 30px;
}

/* line 27, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__site-title a {
  color: #dad2b6;
  font-weight: 300;
}

/* line 33, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__article-title {
  border-bottom: 1px solid #b7b7b7;
  margin: 10px 0 30px;
  padding-bottom: 15px;
  padding-left: 10px;
}

/* line 40, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__item {
  background: #fff;
  margin-bottom: 20px;
  padding: 20px;
}

/* line 46, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__item:last-of-type {
  margin-bottom: 0;
}

/* line 51, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__item-title {
  color: #c0b283;
  margin-top: 0;
}

/* line 56, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__item-cta {
  margin-top: 30px;
}

/* line 60, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__checkbox {
  display: none;
}

/* line 64, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__checkbox-label {
  background: linear-gradient(to bottom, #fffff4 0%, #e4e4e3 40%, #c4c4c4 100%);
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px #fff, 0 1px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  height: 50px;
  position: relative;
  width: 50px;
}

/* line 75, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__checkbox-label::after {
  -webkit-transform: scale3d(-1, 1, 1) rotate(135deg);
          transform: scale3d(-1, 1, 1) rotate(135deg);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  border-right: 4px solid transparent;
  border-top: 4px solid transparent;
  content: '';
  display: block;
  height: 20px;
  left: 14px;
  position: absolute;
  top: 26px;
  width: 10px;
}

/* line 89, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__checkbox-label:hover::after {
  -webkit-animation: checkbox-anim .8s ease infinite;
          animation: checkbox-anim .8s ease infinite;
  border-color: rgba(192, 178, 131, 0.6);
}

/* line 96, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checkbox__container .checklist__checkbox:checked + .checklist__checkbox-label::after {
  -webkit-animation: checkbox-anim .8s;
          animation: checkbox-anim .8s;
  border-color: #b7a872;
}

/* line 102, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__article--active {
  display: block;
}

/* line 106, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__article--hide {
  display: none;
}

/* line 110, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__check-all-container {
  margin: 12px 0 5px;
}

/* line 114, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_results.scss */
.checklist__check-all {
  color: #373737;
  cursor: pointer;
  padding-right: 15px;
}

/* line 1, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_remarks.scss */
.remarks {
  clear: both;
  margin-top: 15px;
  overflow: hidden;
}

/* line 7, /Users/heechenshan/Projects/site-checklist/src/scss/pages/_checklist_remarks.scss */
.remarks__textarea {
  font-size: 16px;
  font-size: 0.94118rem;
  padding: 10px 12px;
  width: calc(100% - 26px);
}

/*# sourceMappingURL=custom.css.map */
