@keyframes checkbox-anim {
	0% {
		height: 0;
		width: 0;
	}

	25% {
		height: 0;
		width: 10px;
	}

	50% {
		height: 20px;
		width: 10px;
	}
}

.checklist {
	margin-left: 15%;
	width: 85%;
}

.checklist__site-title {
	margin-bottom: 0;
	padding-right: 30px;

	a {
		color: lighten($color-tertiary, 15%);
		font-weight: 300;
	}
}

.checklist__article-title {
	border-bottom: 1px solid lighten($color-primary, 50%);
	margin: 10px 0 30px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.checklist__item {
	// scss-lint:disable ColorVariable
	background: #fff;
	margin-bottom: 20px;
	padding: 20px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.checklist__item-title {
	color: $color-tertiary;
	margin-top: 0;
}

.checklist__item-cta {
	margin-top: 30px;
}

.checklist__checkbox {
	display: none;
}

.checklist__checkbox-label {
	// scss-lint:disable ColorVariable
	background: linear-gradient(to bottom, #fffff4 0%, #e4e4e3 40%, #c4c4c4 100%);
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px #fff, 0 1px 3px rgba(0, 0, 0, .5);
	cursor: pointer;
	display: block;
	height: 50px;
	position: relative;
	width: 50px;

	&::after {
		transform: scale3d(-1, 1, 1) rotate(135deg);
		transform-origin: left top;
		border-right: 4px solid transparent;
		border-top: 4px solid transparent;
		content: '';
		display: block;
		height: 20px;
		left: 14px;
		position: absolute;
		top: 26px;
		width: 10px;
	}

	&:hover::after {
		animation: checkbox-anim .8s ease infinite;
		border-color: rgba($color-tertiary, .6);
	}
}

.checkbox__container {
	.checklist__checkbox:checked + .checklist__checkbox-label::after {
		animation: checkbox-anim .8s;
		border-color: darken($color-tertiary, 5%);
	}
}

.checklist__article--active {
	display: block;
}

.checklist__article--hide {
	display: none;
}

.checklist__check-all-container {
	margin: 12px 0 5px;
}

.checklist__check-all {
	color: $color-primary;
	cursor: pointer;
	padding-right: 15px;
}
