.lp__container {
	background: $color-primary;
	color: $color-secondary;
	min-height: 100vh;
	position: relative;
}

.lp__content {
	left: 50%;
	margin-top: 10rem;
	position: absolute;
	top: 0;
	transform: translate3d(-50%, 0, 0);
	width: 80%;
}
