.fade {
	transition: opacity .3s;
}

.fade--in {
	opacity: 1;
}

.fade--out {
	opacity: 0;
}

.slide {
	transition: max-height .3s;
}

.slide--in {
	max-height: 0;
}

.slide--out {
	max-height: 350px;
}
