aside {
	background: $color-primary;
	color: $color-secondary;
	left: 0;
	min-height: 100vh;
	position: fixed;
	top: 0;
	width: 15%;

	a {
		@include font-size(16px);
		color: rgba($color-secondary, .5);
	}
}
