html {
	font-size: 90%;

	@media screen and (min-width: $mq-small) {
		font-size: 95%;
	}

	@media screen and (min-width: $mq-large) {
		font-size: 100%;
	}
}

body {
	@include font-size(14px);
	background: $color-secondary;
	color: $color-primary;
	font-family: $font-roboto;
	margin: 0;
	padding: 0;
}

a {
	background: transparent;
	color: darken($color-primary, 10%);
	text-decoration: none;

	&:active,
	&:hover,
	&:focus {
		outline: 0;
	}
}

ul li {
	list-style: none;
}
