.btn {
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	padding: 10px 20px;
}

.btn--primary {
	@include font-size(20px);
	background: $color-tertiary;
	color: $color-secondary;
	font-weight: bold;
}

.btn--secondary {
	@include font-size(18px);
	background: $color-secondary;
	color: lighten($color-primary, 20%);
}
