.flex__container {
	display: flex;
}

.flex--middle {
	align-content: center;
	align-items: center;
}

.flex--center {
	justify-content: center;
}

//flex items
.flex__item--none {
	flex: none;
}

.flex__item--auto {
	flex: auto;
}

@for $i from 1 through 5 {
	.flex__item--#{$i} {
		flex: $i;
	}
}
