//	Set a rem font size with pixel fallback
//	Usage: @include font-size(14px)
@function calculate-rem($size) {
	$rem-size: $size / $base-font-size;
	@return $rem-size * 1rem;
}

@mixin font-size($size) {
	// scss-lint:disable DuplicateProperty
	font-size: $size;
	font-size: calculate-rem($size);
}
