.float-left {
	float: left;
}

.float-right {
	float: right;
}

.text--center {
	text-align: center;
}

.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.clearfix {
	overflow: hidden;
	zoom: 1;
}
