///
///	Font
///
$font-roboto: 'Roboto', sans-serif !default;
$base-font-size: 17px !default; //base font size for html element. Used for px to rem conversion

///
///	Media Query breakpoints
///
$mq-mini: 480px;
$mq-small: 768px;
$mq-medium: 960px;
$mq-large: 1024px;
$mq-xlarge: 1200px;

///
///	Colors
///
$color-primary: #373737; //charcoal
$color-secondary: #f4f4f4; //white
$color-tertiary: #c0b283; //pale gold
